.board{
    height: 100%;
    width: 100%;
    background: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  80px 1fr;
    font-family: sans-serif;
}

.board.empty{
    grid-template-areas: "navbar" "nonotes";
}

.board.nonempty{
    grid-template-areas: "navbar" "notesavailable";
}

.board .navbar{
    grid-area: navbar;
}

.board .no-notes{
    grid-area: nonotes;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
}

.board .notes-available{
    grid-area: notesavailable;
    display: grid;
}
