.navbar .navbar-desktop{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
}

.navbar .navbar-desktop .active-notes,
.navbar .navbar-desktop .title,
.navbar .navbar-desktop .add-note{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .navbar-desktop .active-notes{
    font-size: 1.5em;
}

.navbar .navbar-desktop .title{
    font-size: 3em;
    font-weight: 600;
}

.navbar .navbar-desktop .add-note button{
    height: 35px;
    width: 200px;
    border: 2px solid #2b2b2b;
    outline: none;
    color: #2b2b2b;
    font-size: 1.4em;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.navbar .navbar-desktop .add-note button:hover{
    background: #2b2b2b;
    color: white;
    width: 220px;
    height: 40px;
}