.note-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.note {
    height: 275px;
    width: 375px;
    background: white;
    margin: 5px;
    border: 2px solid #2b2b2b;
}

.note.view {
    display: grid;
    grid-template-rows: 10px 175px 40px 40px 10px;
    grid-template-columns: 10px 355px 10px;
    grid-template-areas: ". . close" ". message ." ". time ." ". add ." ". . .";
}

.note.view .close {
    grid-area: close;
    position: relative;
    transform: scale(2.5);
    right: 10px;
    top: 7px;
}

.note.view .close svg {
    cursor: pointer;
    transition: all 0.3s ease;
}

.note.view .close svg:hover {
    transform: scale(1.1);
}

.note.view .message {
    grid-area: message;
    text-align: justify;
    padding: 5px;
    border: none;
    outline: none;
}

.note.view .time {
    grid-area: time;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note.view .edit {
    grid-area: add;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.note.view .edit svg {
    cursor: pointer;
    transition: all 0.3s ease;
}

.note.view .edit svg:hover {
    transform: scale(1.2);
}

.note.edit {
    display: grid;
    grid-template-columns: 10px 355px 10px;
    grid-template-rows: 10px 175px 40px 40px 10px;
    grid-template-areas: ". . ." ". editmessage ." ". settime ." ". savebutton ." ". . .";
}

.note.edit .message-container {
    grid-area: editmessage;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.note.edit .message-container .message {
    height: 100%;
    width: 100%;
    text-align: justify;
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
    outline: none;
    padding: 7px;
}

.note.edit .set-time{
    grid-area: settime;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.note.edit .set-time .text {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.note.edit .set-time .time-slider {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.note.edit .set-time .time-slider .hour-slider,
.note.edit .set-time .time-slider .min-slider,
.note.edit .set-time .time-slider .sec-slider{
    display: grid;
    height: 35px;
    width: 50px;
    border: 1px solid #2b2b2b;
    outline: none;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "time-data time-inc" "time-data time-dec";
}

.note.edit .set-time .time-slider .hour-slider .hour,
.note.edit .set-time .time-slider .min-slider .min,
.note.edit .set-time .time-slider .sec-slider .sec{
    grid-area: time-data;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 32px;
    border-right: 1px solid #2b2b2b;
}

.note.edit .set-time .time-slider .hour-slider .inc,
.note.edit .set-time .time-slider .min-slider .inc,
.note.edit .set-time .time-slider .sec-slider .inc{
    grid-area: time-inc;

    height: 18px;
    border-bottom: 1px solid #2b2b2b;
}

.note.edit .set-time .time-slider .hour-slider .dec,
.note.edit .set-time .time-slider .min-slider .dec,
.note.edit .set-time .time-slider .sec-slider .dec{
    grid-area: time-dec;
    height: 15px;
}

.note.edit .set-time .time-slider .hour-slider .inc,
.note.edit .set-time .time-slider .min-slider .inc,
.note.edit .set-time .time-slider .sec-slider .inc,
.note.edit .set-time .time-slider .hour-slider .dec,
.note.edit .set-time .time-slider .min-slider .dec,
.note.edit .set-time .time-slider .sec-slider .dec{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.note.edit .set-time .time-slider .hour-slider .inc:hover,
.note.edit .set-time .time-slider .min-slider .inc:hover,
.note.edit .set-time .time-slider .sec-slider .inc:hover,
.note.edit .set-time .time-slider .hour-slider .dec:hover,
.note.edit .set-time .time-slider .min-slider .dec:hover,
.note.edit .set-time .time-slider .sec-slider .dec:hover{
    background: #2b2b2b;
    color: white;
    font-weight: 600;
}

.note.edit .save-container {
    grid-area: savebutton;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.note.edit .save-container .save {
    width: 150px;
    height: 100%;
    background: white;
    border: 1px solid #2b2b2b;
    color: #2b2b2b;
    outline: none;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.3s ease;
}

.note.edit .save-container .save:hover {
    background: #2b2b2b;
    color: white;
    width: 170px;
}